{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
        <div class="row">

            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="wrap-slick3 flex-sb flex-w">

                        <div class="wrap-slick3-dots"></div>
                        <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>


                          <div class="container w-90  mt-5 p-4 " style="margin-bottom:100px;">
                                <h1>SignIn</h1>
                                <form method="post" >
                                    {% csrf_token %}
                                    {{form|crispy}}
                                    <input type="submit">
                                </form>
                                    </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}